/**
* @name Search Page Styles
*/

.MovieHome {
  padding: 2rem;
  text-align: center;
}

.MovieHome-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.MovieHomeForm-search {
  max-width: 500px;
  min-width: 300px;
  padding: 8px;
}

.MovieHomeForm-checkboxes {
  max-width: 500px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}

.MovieHomeForm-checkboxes label {
  padding: 0 0.5rem;
}

.MovieHome-results {
  width: 100%;
  padding: 1rem 0;
  text-align: left;
}

.LoadMore {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
